<p id="notice"><%= notice %></p>
<!-- <app :message="<%#= 'message'.to_json %>"  > -->

<!-- <app  :messages="<%= @messages.to_json %>" ></app> -->

<!-- <app  v-bind:message="[234, 266, 273]" ></app> -->

<app  v-bind:message1="[234, 266, 273]" ></app>

<!-- <app  v-bind:message="<%= @messages.to_json %>" ></app> -->

<%# if @messages.any? %>
  <%# @messages.each do |msg| %>
    
      <!-- <app  v-bind:message="<%#= msg.title.to_json %>" ></app> -->
    
  <%# end %>
<%# end %>



<!-- <blog-post v-bind:comment-ids="post.commentIds"></blog-post> -->
  





<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>


<%= link_to 'New Message', new_message_path %>
