<p id="notice"><%= notice %></p>  


<% if @messages.any? %>
  <% @messages.each do |msg| %>   
      <app  v-bind:message="<%= msg.title.to_json %>" ></app>   
  <% end %>
<% end %>



<!-- <blog-post v-bind:comment-ids="post.commentIds"></blog-post> -->
  





<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>


<%= link_to 'New Message', new_message_path %>
